.main {
    position: absolute;
    top: 350px;
    width: 80%;
    height: 65%;
    background-color: red;
    margin-bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .bar {
    position: relative;
    width: 50px;
    margin: 20px;
    height: 10px;
    background-color: green;
  }